.footer {
  background: $color_background_header_footer;
  height: 268px;
  padding: 80px 112px 80px 112px;
  box-sizing: border-box;

  &__content {
    border-top: solid #d2d5da;
    border-top-width: 1px;
    height: 100%;

    &__links {
      margin-top: 24px;
      margin-bottom: 24px;
      align-items: center;

      &__pages {
        display: flex;
        justify-content: center;
        margin-top: 11px;
        margin-bottom: 11px;

        .active_page {
          color: $color_text_dark;
          font-weight: 600;
        }

        &__text {
          color: $color_text_link_page;
          font-size: 14px;
          letter-spacing: 1.25px;
          font-weight: 500;
          padding: 4px;
          margin-left: 16px;
          margin-right: 16px;
        }
      }

      &__social-apps {
        display: flex;
        justify-content: center;
        &__app {
          margin: 11px 16px;
        }
      }

      &__logo {
        display: inline-flex;
        align-items: center;
        margin-top: 11px;
        margin-bottom: 11px;
      }
    }

    &__license {
      font-weight: 400;
      width: 100%;
      justify-content: center;
      display: inline-flex;
      font-size: 10px;
      letter-spacing: 1.5px;
      color: #6d7280;
    }
  }
}
