.homepage {
  position: relative;
  &__thumbnail {
    .thumbnail-image {
      width: 100%;
    }
    .thumbnail-content {
      position: absolute;
      top: 25%;
      padding-left: 113px;
      h1 {
        margin: 0;
        font-size: 54px;
        font-weight: 400;
        line-height: 81px;
      }
      h4 {
        margin-top: 8px;
        padding-right: 90px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
      }
    }
  }
}

.discover-areas {
  position: relative;
  h2 {
    font-size: 54px;
    font-weight: 400;
    margin-top: 104px;
    margin-bottom: 100px;
  }
  .areas {
    margin-left: 128px;
    margin-right: 108px;
    .area {
      position: relative;
      flex: 1;
      min-width: 279px;
      white-space: nowrap;
      align-items: center;
      img {
        width: 100%;
        height: auto;
      }
      &__name {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: -20px;
        display: flex;
        font-size: 32px;
        color: #111827;
        text-transform: uppercase;
        font-weight: 600;
        .round-border {
          width: 46px;
          height: 46px;
          border: 4px solid black;
          box-sizing: border-box;
          background-color: white;
          border-radius: 100%;
          text-align: center;
          margin-right: 8px;
        }
        .name {
          line-height: 48px;
          text-shadow: -1px -1px 0px white, 0px -1px 0px white,
            1px -1px 0px white, -1px 0px 0px white, 1px 0px 0px white,
            -1px 1px 0px white, 0px 1px 0px white, 1px 1px 0px white,
            -2px -2px 0px white, -1px -2px 0px white, 0px -2px 0px white,
            1px -2px 0px white, 2px -2px 0px white, 2px -1px 0px white,
            2px 0px 0px white, 2px 1px 0px white, 2px 2px 0px white,
            1px 2px 0px white, 0px 2px 0px white, -1px 2px 0px white,
            -2px 2px 0px white, -2px 1px 0px white, -2px 0px 0px white,
            -2px -1px 0px white;
        }
      }
    }
  }
}

.community {
  position: relative;
  .community-title {
    margin-top: 148px;
    h2 {
      margin-bottom: 24px;
      padding-left: 114px;
      max-width: 798px;
      font-size: 54px;
      color: '#111827';
      font-weight: 400;
      line-height: 81px;
      p {
        margin: 0;
      }
    }
  }
  .community-background {
    width: 100%;
    position: relative;
  }
  .community-extra-image {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 40px;
  }
  .community-users {
    position: absolute;
    &.user-0 {
      top: 55%;
      left: 10%;
    }
    &.user-1 {
      bottom: 5%;
      left: 5%;
    }
    &.user-2 {
      bottom: 20%;
      left: 20%;
    }
    &.user-3 {
      top: 60%;
      right: 20%;
    }
    &.user-4 {
      bottom: 15%;
      right: 10%;
    }
    &.user-5 {
      bottom: 3%;
      right: 25%;
    }
  }
}
.contact-us {
  margin-top: 185px;
  gap: 6%;
  .contact-col {
    max-width: 485px;
    textarea {
      resize: none;
    }
  }
  .contact-title {
    font-size: 54px;
    font-weight: 400;
    line-height: 81px;
    margin-bottom: 16px;
  }
  .contact-info {
    font-size: 16px;
    line-height: 19.2px;
    color: #6d7280;
    font-weight: 400;
  }
  .ant-form-item-required {
    font-size: 14px;
    font-weight: 700;
    &::before {
      display: none !important;
    }
  }
  .ant-form-item-control {
    input {
      height: 44px;
      line-height: 44px;
    }
  }
  .ant-form-item-label {
    font-weight: 700;
  }
  .ant-form-item-control-input {
    button {
      width: 100%;
      text-align: left;
      height: 56px;
    }
  }
}
.member-team {
  position: relative;
  flex: 1;
  min-width: 311px;
  .member-image {
    padding: 16px;
    width: 100% !important;
    height: 100% !important;
    border: 1px solid black;
    background-color: white;
    border-radius: 16px;
    img {
      height: auto !important;
      width: 100%;
      border-radius: 8px;
    }
  }
  .overlay {
    z-index: 10;
    position: absolute;
    height: calc(100% - 34px);
    width: calc(100% - 34px);
    top: 17px;
    left: 17px;
    border-radius: 8px;
    background: rgba(190, 190, 190, 0.6);
  }
  .member-name,
  .member-position {
    position: absolute;
    color: white;
    z-index: 100;
    width: calc(100% - 80px);
    margin: 0 40px;
    text-align: center;
  }
  .member-name {
    top: 50%;
    font-size: 24px;
    font-weight: 600;
  }
  .member-position {
    font-weight: 400;
    font-size: 16px;
    bottom: 25px;
  }
}
.about-team {
  .about-team-title {
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    margin: 76px 0 84px;
  }
}
